@import "~bootstrap/scss/bootstrap";
/* MDB SCSS */
@import '~mdb-ui-kit/css/mdb.min.css';
// Slick Slider

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

$la-font-path: "~line-awesome/dist/line-awesome/fonts/";
@import "~line-awesome/dist/line-awesome/scss/line-awesome.scss";

@import "./sections/bit-slider";

.animated-card {
  .card-body {
    padding-bottom: 40px;
  }
}
/* Animation example start */
.animated-arrow {
  background-color: #d2a98e;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Absolutaus elemento centravimas parent elemente */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  transition: all 3000ms linear;
  &:hover {
      cursor: pointer;
      background-color: red;
      color: black;
      transform: scale(2);
  }
  i {
    color: white;
    font-size: 26px;
  }
}
/* Animation example end */

.card {
  transition: all 800ms;
  &:hover {
    transform: translateY(-5px);
  }
  .card-body {
    padding: 25px 26px 94px;
    padding-bottom: 88px;
  }
  .box-projects-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 56px;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #eee;
    transition: all;
    &:hover {
      color: white;
      background-color: #086AD8;

    }
  }
}

